$purple: #d08fff;
$green: #43ac8d;
$primary: #ef7f45;
$primary-dark: #eb6528;
$blue: #1b9ef0;
$red: #ff3b45;

$black0: #11142d;
$black1: #333;
$black2: #404040;
$gray1: #a4a5b2;

$caption: 'Haas Grot Disp';